services:
  db:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGODB_DATABASE: pokedex
      MONGODB_USER: kronos
    volumes:
      - ./data:/data/db
